@model IEnumerable<PROJETO_PNET.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("manager") || User.IsInRole("admin"))
    {
        <a asp-action="Create">Create New</a>}
    </p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Procurar por nome: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Procurar" class="btn btn-default" /> |
            <a asp-action="Index">Voltar à Lista</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nivel
            </th>
            <th>
                Tarefa
            </th>
            <th>
                Data da Tarefa
            </th>
            <th>
                Nome do Funcionário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TarefaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TarefaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TarefaId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
